extends ../layout

block css
	style.
		table th, table td {
			text-align: center;
		}

		table th {
			color: #FFF;
			background-color: #337AB7;
			border-color: #2E6DA4;
		}

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 照片名称
						th 照片大小
						th 拍摄日期
						th 录入时间
						th 查看
						th 更新
						th 删除
				tbody
				each item in photos
					tr(class="item-id-#{item._id}")
						td #{item.name}
						td #{item.size}
						td #{item.recordDate}
						td #{moment(item.meta.updateAt).format("MM/DD/YYYY")}
						td: a(target="_self" href="../photo/#{item._id}") 查看
						td: a(target="_self" href="../admin/update/#{item._id}") 更新
						td
							button.btn.btn-danger.del(type="button", data-id="#{item._id}", data-name="#{item.name}") 删除
script(src="/js/admin.js")